body {
  overflow-x: hidden;
  overflow-y: hidden;
}
table
{
  background-color:white;
  border:3px solid #04228c;
}
td
{
  border:1.5px solid #04228c;
}
.tbAns
{
  text-align:right;
  width:230px;
}
td
{
  text-align:center;
}
input
{
  font-family:Verdana;
  font-weight:700;
  font-size:30px;
  background-color:white;
  border:2px solid white;
}
.bspButton
{
  font-weight:900;  
  font-family:Impact;
}
.tdWidth
{
  width:55px;
}